<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta name="robots" content="index, follow">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/stylesheet/custom.css">
    <link rel="stylesheet" type="text/css" href="/stylesheet/all.css?9598">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title><%= title || "Taskly App" %></title>

</head>
<body>

<!-- Preloader -->
<div id="page-loading-blocs-notifaction" class="page-preloader"></div>
<!-- Preloader END -->

<div class="page-container">
    <header>
        <!-- Navbar (conditionally include) -->
        <% if (!hideNavbar) { %>
            <%- include("../includes/navbar") %>
        <% } %>
    </header>

    <%- body %>
</div>

<!-- ScrollToTop Button -->
<button aria-label="Scroll to top button" class="bloc-button btn btn-d scrollToTop"
        onclick="scrollToTarget('1',this)">
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 32 32">
        <path class="scroll-to-top-btn-icon" d="M30,22.656l-14-13-14,13"/>
    </svg>
</button>
<!-- ScrollToTop Button END -->

<!-- Flash Notifications -->
<%- include('../includes/flash') %>
<!-- Flash END -->

<!-- Footer (conditionally include) -->
<% if (!hideFooter) { %>
    <%- include("../includes/footer") %>
<% } %>

<!-- Additional JS -->
<script src="/js/all.js"></script><!-- Additional JS END -->
<script src="/js/validation.js"></script><!-- Additional JS END -->

</body>
</html>